@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --borders: #ddd;
  --red: #f95b51;
  --mint-green: #eef8f7;
  --light-teal: #69aea9;
  --medium-teal: #438883;
  --dark-teal: #3f8782;
  --dark-grey: #222;
  --medium-grey: #444;
  --light-grey: #666;
  --lighter-gray: #888;

  --muted: var(--lighter-gray);
  --destructive: var(--red);
  --ring: var(--medium-teal);
  --input: var(--borders);
}

@layer base {
  body {
    @apply bg-background font-inter font-normal text-base text-medium-grey;
  }
}

@layer components {
  .container {
    @apply max-w-xl px-4 mx-auto;
  }

  .curved-header {
    position: relative;
    width: 100%;
    height: 30vh;
    flex-direction: column;
    overflow: hidden;
  }
  .curved-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(130deg, #429690 0%, #2a7c76 100%);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2.5);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .polygon {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 80%);
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .heading-1 {
    @apply capitalize font-bold text-4xl;
  }

  .heading-2 {
    @apply text-2xl sm:text-3xl font-semibold;
  }

  .link-outline {
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-background focus-visible:ring-ring focus-visible:ring-offset-2 transition-shadow rounded-xxs;
  }
}
